/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "양진체";
  src: url("https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.yang {
  font-family: "양진체";
} */

/* 눈누는 저작권 진짜 조심해야 함 */
